/* Global Styles */
body {
    color: rgb(88,88,88);
    font-size: 12px;
}
body, .navbar-fixed-bottom {
    min-width: 320px;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:  "Times New Roman",  "Microsoft YaHei", "SimSun", sans-serif;
}

a {
    color: #000;
    transition: all 400ms;
}
a:hover {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #000;
}
h2 {
    font-size: 2em;
}
@media only screen and (max-width: 768px) {
    h2 {
        font-size: 1.4em;
    }
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.4em;
}
h6 {
    font-size: 1.2em;
}

p {
    line-height: 1.3;
}
p small {
    line-height: 1em;
}

ol, ul {
    line-height: 1.2em;
}
li {
    margin-bottom: 1em;
}

hr {
    clear: both;
    border-top-color: #666;
}


/* Global Structure */
header, footer, #body {
    float: left;
    width: 100%;
}
header {
    padding: 0 0 0.5em;
    margin-bottom: 2.5em;
    border-bottom: 1px solid #666;
	letter-spacing: 2px;
}
footer {
    padding: 1em 0;
    margin-bottom: 50px;
}

.home footer {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    header {
        padding-top: 2em;
        margin-bottom: 35px;
        position: relative;
        z-index: 1;
    }
    footer {
        margin-bottom: 0;
    }
}
@media (min-width: 1500px) {
    .container {
        width: 1500px;
    }
}

/* Align Bottom */
.align-bottom {
    height: 100%;
    position: relative;
}
.align-bottom-inner {
    position: absolute;
    bottom: 0;
    max-width: 100%;
}

/* Thumbnail */
.thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    background: #dcdddd;
}
.thumbnail img {
    width: 100%;
    height: auto;
}

/* Carousel */
.carousel-indicators {
    width: auto;
    margin-left: 0;
    left: auto;
    right: 20px;
    bottom: 0;
}
.carousel-indicators li {
    border: none;
    background: #000;
    opacity: 0.6;
    FILTER: Alpha(opacity=60);
}
.carousel-indicators li.active {
    opacity: 0.7;
}

/* Icons */
.icon-menu, .icon-back, .icon-weibo, .icon-tencentwb, .icon-tudou, .icon-youtube {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -999em;
    overflow: hidden;
    background: transparent url('../images/sprites/icons.png') no-repeat scroll -96px -32px;
}
.icon-weibo {
    background-position: -160px -32px;
}
.icon-tencentwb {
    background-position: -96px -32px;
}
.icon-tudou {
    background-position: -128px -32px;
}
.icon-youtube {
    background-position: -192px -32px;
}
.icon-menu {
    background-position: -32px 0;
}
.icon-back {
    background-position: -64px 0;
}

/* Logo */
.logo {
    text-align: center;
    margin-bottom: 7px;
    font-size: 1.4em;
}
.logo a {
    display: inline-block;
    position: relative;
}
.logo span {
    width: 100%;
    position: absolute;
    bottom: -45px;
}
.logo img {
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 480px) {
    .logo img {
        width: 190px;
    }
}

/* Site Search */
.site-search {
    float: right;
}
.site-search-input {
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(137,137,137);
}
.site-search-toggle {
    width: 32px;
    height: 32px;
    border: none;
    text-indent: -999em;
    overflow: hidden;
    background: transparent url('../images/sprites/icons.png') no-repeat scroll 0 0;
}
.site-search-input, .site-search-btn {
    border-radius: 0;
}
.site-search-btn {
    float: right;
}

@media only screen and (min-width: 768px) {
    .site-search {
        width: 160px;
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 10px;
        border: 1px solid rgb(137,137,137);
        background: #fff;
    }
    .site-search-input {
        border: none;
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0;
        height: 23px;
    }
    .site-search-btn {
        width: 30px;
        height: 100%;
        padding: 0;
        text-indent: -999em;
        overflow: hidden;
        background: #fff url('../images/sprites/icons.png') no-repeat scroll 8px -30px;

    }
    .site-search .input-group-btn {
        height: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .site-search .form-group {
        position: absolute;
        top: -34px;
        left: 0;
        right: 0;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 1px 5px rgba(180, 180, 180, 0.5);
        background: #fff;
        transition: top 400ms ease-out;
    }
    .site-search.open .form-group {
        top: 0;
    }
    .site-search-btn {
        color: #fff;
        background: #999;
    }
}

/* Social Share */
.social-share {
    float: left;
}
.social-share ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-share li {
    float: left;
    margin: 0;
}
.social-share li + li {
    margin-left: 10px;
}

@media only screen and (min-width: 768px) {
    .social-share {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: -30px;
    }
}

/* Advertisement */
.advertisement a {
    display: block;
}
.advertisement a+a {
    margin-top: 10px;
}

@media only screen and (min-width: 1600px) {
	.advertisement a+a {
		margin-top: 63px;
	}
}

.advertisement img{
    max-width: 100%;
    height: auto;
}

.advertisement.pos-left {
    float: left;
}
.advertisement.pos-right {
    float: right;
}

/* Home Hero */
.home-hero {
    margin-bottom: 2em;
}
@media only screen and (min-width: 1200px) {
    .home-hero {
        margin: 0;
        clear: both;
    }
    .home-hero .carousel {
        float: left;
        width: 80.5%;
        padding: 0 7px;
    }
    .home-hero .advertisement {
        float: left;
        width: 9.75%;
    }
}

/* Category */
.category {
    float: left;
    width: 100%;
    margin-top: 2em;
}
.category img {
    max-width: 100%;
    height: auto !important;
}
.category .thumbnail{
    margin-bottom: 1em;
}
.category a .thumbnail img {
    opacity: 0.8;
    FILTER: Alpha(opacity=80);
    transition: opacity 500ms;
}
.category a:hover .thumbnail img {
    opacity: 1;
    FILTER: Alpha(opacity=100);
}
.category .caption {
    text-align: center;
    font-size: 12px;
    margin-top: 1em;
}
@media only screen and (min-width: 1200px) {
    .category {
        margin: 0;
        text-align: justify;
    }
    .category:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
    }
    .category-item, .home .category-item {
        float: none;
        display: inline-block;
        padding: 0;
        vertical-align: top;
    }
    .home .category-item {
        width: 142px;
    }
    .block-list .category-item {
        clear: none !important;
    }
}
@media only screen and (max-width: 991px) {
    .category-item {
        position: relative;
        z-index: 1;
    }
    .category-item .caption {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 14px;
        color: #fff;
        margin: 0;
        white-space: nowrap;
        word-break: break-word;
    }
    .category-item .caption:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .category-item .caption-text {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
    }
}


/* Footer Links */
.footer-links a {
    color: #ccc;
}
.footer-links ul {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ccc;
    font-size: 1.2em;
}
.footer-links li {
    display: inline;
}
.footer-links li + li:before {
    content: " / ";
}
@media only screen and (min-width: 768px) {
    .footer-links {
        position: absolute;
        top: 230px;
		z-index: 1;
    }
    .footer-links a {
        color: #000;
    }
}

/* Primary Nav */
.primary-nav {
	letter-spacing: 1px;
}
.primary-nav .breadcrumb {
	padding: 15px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background: none;
    font-size: 1.2em;
}
.primary-nav a {
    color: #CCC;
}
.primary-nav .active a {
    color: #000;
}

.primary-nav .navbar {
    background: #fff;
    box-shadow: 0 -1px 5px rgba(180,180,180, 0.5);
}
.primary-nav .navbar-left {
    float: left;
}
.primary-nav .navbar-right {
    float: right;
}
.primary-nav .navbar-toggle {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}
.primary-nav .nav-menu, .primary-nav .nav-back {
    display: inline-block;
    padding: 9px 10px;
}
.primary-nav .nav-back {
    border-right: 1px solid #ccc;
}
.primary-nav .nav-menu {
    border-left: 1px solid #ccc;
}
.primary-nav .open .nav-menu, .primary-nav .dropdown-menu {
    background: transparent url('../images/bg-black-40.png') repeat scroll 0 0;
    background: rgba(0,0,0,0.4);
}
.primary-nav .dropdown-menu a {
    color: #fff;
}



/* Thumbnail List */
.thumbnail-list .thumbnail{
    position: relative;
    z-index: 1;
    margin-bottom: 0.5em;
}
.thumbnail-list .caption {
    color: #222;
    text-align: center;
    font-size: 1.2em;
}
.thumbnail-list .caption small, .thumbnail-list .caption span {
    display: block;
    color: #222;
}
.thumbnail-list .caption small:after, .thumbnail-list .caption span:after {
    content: "";
    display: block;
    height: 0;
}
.thumbnail-list .thumbnail .caption {
    margin: 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('../images/bg-c8c8c8-40.png') repeat scroll 0 0;
    background: rgba(255, 255, 255, 0.66)
}
.thumbnail-list .thumbnail+.caption {
    margin-top: 0;
}
@media only screen and (min-width: 768px) {
    .thumbnail-list .caption {
        font-size: 1.4em;
        padding: 0.5em 0 1em;
    }
    .thumbnail-list .caption small {
        font-size: 0.6em;
    }
    .thumbnail-list .caption>*+* {
        margin-top: 0.3em;
    }
    .thumbnail-list .thumbnail {
        margin-bottom: 20px;
    }
    .thumbnail-list-item {
        padding: 0 30px;
    }
}
@media only screen and (min-width: 992px) {
    .thumbnail-list .caption {
        font-size: 2em;
    }
}


/* Block List */
@media only screen and (max-width: 767px) {
    .block-list>.col-xs-2:nth-child(6n+1),
    .block-list>.col-xs-3:nth-child(4n+1),
    .block-list>.col-xs-4:nth-child(3n+1),
    .block-list>.col-xs-6:nth-child(2n+1){
        clear: left;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .block-list>.col-sm-2:nth-child(6n+1),
    .block-list>.col-sm-3:nth-child(4n+1),
    .block-list>.col-sm-4:nth-child(3n+1),
    .block-list>.col-sm-6:nth-child(2n+1){
        clear: left;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .block-list>.col-md-2:nth-child(6n+1),
    .block-list>.col-md-3:nth-child(4n+1),
    .block-list>.col-md-4:nth-child(3n+1),
    .block-list>.col-md-6:nth-child(2n+1){
        clear: left;
    }
}
@media only screen and (min-width: 1200px) {
    .block-list>.col-lg-2:nth-child(6n+1),
    .block-list>.col-lg-3:nth-child(4n+1),
    .block-list>.col-lg-4:nth-child(3n+1),
    .block-list>.col-lg-6:nth-child(2n+1){
        clear: left;
    }
}

/* Paging */
.paging {
    float: left;
    width: 100%;
    padding: 0 0 1em;
}
.paging-prev, .paging-next {
    width: 32px;
    height: 32px;
    text-indent: -999em;
    overflow: hidden;
    background: transparent url('../images/sprites/icons.png') no-repeat scroll -32px -32px;
}
.paging-prev {
    float: left;
}
.paging-next {
    float: right;
    background-position: -64px -32px;
}

.paging-block.loading {
    position: relative;
}
.paging-block.loading:after {
    display: block;
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('../images/loader.gif') no-repeat scroll center center;
    background-color: rgba(255,255,255,0.4);
}
/*Content Paging*/
.paged {
	display: none;
}

/* Content */
.float-left {
    float: left;
}
.float-right {
    float: right;
}
article img {
    max-width: 100%;
    height: auto;
}
article img.float-left, article img.float-right {
    max-width: 50%;
    margin: 0 1em 0.3em;
}
article img.float-left {
    margin-left: 0;
}
article img.float-right {
    margin-right: 0;
}

.article-wrapper {
	font-size: 14px;
}
.article-wrapper img {
    max-width: 100%;
    height: auto;
}
.article-wrapper .row .row {
	margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
    .article-wrapper .align-bottom-inner {
        position: static;
    }
}
@media only screen and (min-width: 992px) {
    .article-wrapper .align-bottom {
        height: 480px;
    }
}
@media only screen and (min-width: 1200px ) {
    .article-wrapper {
        min-height: 640px;
        padding-right: 150px;
        position: relative;
        z-index: 1;
    }
    .article-wrapper .advertisement{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }
    .article-wrapper .align-bottom {
        height: 640px;
    }
}

/* Page Heading */
.page-heading {
    margin-bottom: 0.7em;
	font-size: 25px;
}
@media only screen and (min-width: 1200px) {
    .page-heading + .summary {
        padding-top: 0.5em;
        border-top: 1px solid #222;
    }
    .page-heading span, .page-heading small {
        float: none;
        display: block;
        text-align: center;
    }
}

/* Media */
.media {
    margin-bottom: 1em;
    border: 0px solid #000;
}
.media embed, .meida object, .media video {
    width: 100%;
    display: block;
}
.media img {
    width: 100%;
    height: auto;
}
.media-info {
    margin: 0 0 1em;
}
.media-description {
    text-align: left;
}
.media-length {
    text-align: right;
}
@media only screen and (min-width: 1200px) {
    .media-info {
        background: #eee;
        padding: 1em 10px;
    }
    .media-info, .media-description, .media-length {
        text-align: center;
    }
}

/* Contact Info */
.contact-info {
    text-align: center;
    margin-bottom: -3em;
    padding: 0 50px;
    color: #000;
    font-size: 1.2em;
}


/* Map */
.map {
    overflow: hidden;
    text-align: center;
    margin: 1em 0 1em;
}
.map-inner {
    float: left;
    position: relative;
    left: 50%;
}
.map-inner img {
    margin-left: -100%;
}
@media only screen and (min-width: 768px) {
    .map {
        margin-top: 2em;
    }
}

/* Contributors */
.contributors>h1 {
    font-size: 2em;
    margin: 0 0 2.5em;
}
.contributors>h6 {
    font-size: 1.2em;
    margin-bottom: 1em;
}
.contributors .category-item {
    text-align: center;
    margin-bottom: 15px;
}

.contributors .team h5 {
    padding: 1em 0 0;
    margin: 0 0 1em;
    border-top: 1px solid #000;
    font-size: 1.4em;
}

.contributors .founder img {
    width: 100%;
    height: auto !important;
}

.contributor-name {
    font-size: 1.2em;
}
@media only screen and (min-width: 768px) {
    .contributors .team h5 {
        padding-bottom: 1.6em;
    }
}
@media only screen and (min-width: 1200px) {
    .contributors .international .category-item {
        width: 19.7%;
        margin-bottom: 0;
    }
	.contributors .international .category-item img {
		width: 80%;
	}
    .contributors .china .category-item {
        width: 9.7%;
    }
}

/* Tips */
.tips img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}